body {
  font-family: open sans, helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  /*background-color: #eee;*/
  line-height: 1.5;
}

a {
  color: #4a90e2;
}

p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #666;
}

h1 {
  margin-top: 0;
  color: #4a90e2;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 8px;
}

small {
  font-size: 14px;
}

article section {
  padding: 3rem 0;
}

footer p:last-child {
  margin-bottom: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 1rem;
}

.content {
  background-color: #fff;
  border-radius: .5rem;
  padding: 4rem;
  text-align: center;
  border: 1px solid #ccc;
}